body {
    overflow-x: hidden;
    background-image: url('https://source.unsplash.com/random');
    background-size: cover;
 }
 
#page-content-wrapper{
    margin-top: 30px;
}


#articles-container{
    margin-top: 50px;
}


.article{
    background-color: rgba(245,245,245,0.7);
    /* Fallback for web browsers that doesn't support RGBa */

    background: rgb(245, 245, 245);

    /* RGBa with 0.6 opacity */
    
    background: rgba(245, 245, 245, 0.7);
    
    /* For IE 5.5 - 7*/
    
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    
    /* For IE 8*/
    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
